<h2>Theme : <%= @theme.title %></h2>
created at <%= @theme.created_at.to_s(:long) %> --  by <font color="blue"><%= @theme.orner %></font>
<hr />
Description : <%= @theme.body %><br /><br />
[<%= link_to "Add Comment", new_theme_comment_path(params[:id]) %>]<br />
<hr />

<%= @num %><br /><br /><br />

<% @comments.each do |comment| %>
  <table width="800">
    <tr bgcolor="#ccc"><td>[<%= comment.id %>] <b><%= comment.c_title %></b> posted by <font color="blue"><%= comment.c_orner %></font>  /  <%= comment.created_at %></td></tr>
    <tr bgcolor="#eee"><td><%= comment.c_body %></td></tr>
  </table>
  <br />
<% end %>

